*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
main{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, 50%);
}
.left{
    background-color: #6d6875;
}
.right{
    background-color: #ffcdb2;
}

/* left container style here */
.left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left img{
    width: 400px;
}

/* right container style here */
.right{
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
}
.about-me{
    border-left: 5px solid #6d6875;
    padding: 10px;
}
.t1{
    opacity: .5;
    margin-bottom: 20px;
}
h2,
.t1,
.t2{
    letter-spacing: 2px;
}
h3{
    text-align: center;
    margin: 10px 0;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.fa-brands{
    font-size: 50px;
}
footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.social-link{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.social-link i{
    color: black;
    font-size: 30px;
}
.social-link img{
    width: 30px;
    border-radius: 50%;
}